@model Projeto

<div class="container">

    <div class="row mt-4 mb-2 justify-content-between">
        <h2>
            @Model.Nome
        </h2>
        <div>
            <div class="mr-2 btn-group">
                <form asp-action="Compartilhar" asp-controller="Projeto" method="post" class="form-inline">
                    <input name="Id" value="@Model.Id" type="hidden" />
                    <input name="Email" type="email" class="form-control mr-2" placeholder="Digite o email para compartilhar" style="width: 300px;">
                    <input type="submit" class="btn btn-info" value="Compartilhar" />
                </form>
            </div>
            <div class="mr-2 btn-group">
                <form asp-action="Detalhar" asp-controller="Projeto" method="post" class="form-inline">
                    <input name="Id" value="@Model.Id" type="hidden" />
                    <input name="Pesquisa" type="text" value="@ViewBag.Pesquisa" class="form-control" placeholder="Pesquisar">
                </form>
            </div>
            <div class="btn-group mr-2" role="group">
              <a asp-action="DeletarProjeto" asp-controller="Projeto" asp-route-IdProjeto="@Model.Id" class="btn btn-light">
                🗑️
              </a>
            </div>
            <a asp-action="Cadastrar" asp-controller="Tarefa" asp-route-IdProjeto="@Model.Id" class="btn btn-primary">
                Criar Tarefa
            </a>
        </div>
    </div>

    <div id="projetoErro" class="text-danger mb-2">
        <script>
            var error = decodeURIComponent(window.location.search.split("erro=")[1]);
            if(error !== "undefined") document.getElementById("projetoErro").innerHTML = error;
        </script>
    </div>

    <div class="row mb-2">
        <h3>A Fazer</h3>
    	@foreach (Tarefa tarefa in Model.BuscarTarefas(EstadoDaTarefa.A_FAZER))
        {
        <div class="tarefa-container">
            <span class="badge badge-dark mr-1" style="width: 30px;">@tarefa.Prioridade</span>
            <span class="flex-grow-1">@tarefa.Descricao</span>
            <div class="btn-group" role="group">
              <a asp-action="AvancarTarefa" asp-controller="Projeto" asp-route-IdTarefa="@tarefa.Id" asp-route-IdProjeto="@Model.Id" class="btn btn-light">
                ➡️
              </a>
            </div>
            <div class="btn-group" role="group">
              <a asp-action="EditarTarefa" asp-controller="Tarefa" asp-route-IdTarefa="@tarefa.Id" asp-route-IdProjeto="@Model.Id" class="btn btn-light">
                ✏️
              </a>
            </div>
            <div class="btn-group" role="group">
              <a asp-action="ApagarTarefa" asp-controller="Projeto" asp-route-IdTarefa="@tarefa.Id" asp-route-IdProjeto="@Model.Id" class="btn btn-light">
                🗑️
              </a>
            </div>
        </div>
        }
    </div>

    <div class="row mb-2">
        <h3>Fazendo</h3>
    	@foreach (Tarefa tarefa in Model.BuscarTarefas(EstadoDaTarefa.FAZENDO))
        {
        <div class="tarefa-container">
            <span class="badge badge-dark mr-1" style="width: 30px;">@tarefa.Prioridade</span>
            <span class="flex-grow-1">@tarefa.Descricao</span>
            <div class="btn-group" role="group">
              <a asp-action="RegredirTarefa" asp-controller="Projeto" asp-route-IdTarefa="@tarefa.Id" asp-route-IdProjeto="@Model.Id" class="btn btn-light">
                ◀️
              </a>
            </div>
            <div class="btn-group" role="group">
              <a asp-action="AvancarTarefa" asp-controller="Projeto" asp-route-IdTarefa="@tarefa.Id" asp-route-IdProjeto="@Model.Id" class="btn btn-light">
                ▶️
              </a>
            </div>
                        <div class="btn-group" role="group">
              <a asp-action="EditarTarefa" asp-controller="Tarefa" asp-route-IdTarefa="@tarefa.Id" asp-route-IdProjeto="@Model.Id" class="btn btn-light">
                ✏️
              </a>
            </div>
            <div class="btn-group" role="group">
              <a asp-action="ApagarTarefa" asp-controller="Projeto" asp-route-IdTarefa="@tarefa.Id" asp-route-IdProjeto="@Model.Id" class="btn btn-light">
                🗑️
              </a>
            </div>
        </div>
        }
    </div>

    <div class="row mb-2">
        <h3>Concluido</h3>
    	@foreach (Tarefa tarefa in Model.BuscarTarefas(EstadoDaTarefa.CONCLUIDO))
        {
        <div class="tarefa-container">
            <span style="width: 24px;">🏆</span>
            <span class="flex-grow-1">@tarefa.Descricao</span>
            <div class="btn-group" role="group">
              <a asp-action="RegredirTarefa" asp-controller="Projeto" asp-route-IdTarefa="@tarefa.Id" asp-route-IdProjeto="@Model.Id" class="btn btn-light">
                ◀️
              </a>
            </div>
        </div>
        }
    </div>

</div>