@model Projeto

<div class="container">

    <div class="row mt-4 mb-2 justify-content-between">
        <h2>
            @Model.Nome
        </h2>
        <div>
            <div class="btn-group mr-2" role="group">
              <a asp-action="DeletarProjeto" asp-controller="Projeto" asp-route-IdProjeto="@Model.Id" class="btn btn-light">
                🗑️
              </a>
            </div>
            <a asp-action="Cadastrar" asp-controller="Tarefa" asp-route-IdProjeto="@Model.Id" class="btn btn-primary">
                Criar Tarefa
            </a>
        </div>
    </div>

    <div class="row mb-2">
        <h3>A Fazer</h3>
    	@foreach (Tarefa tarefa in Model.BuscarTarefas(EstadoDaTarefa.A_FAZER))
        {
        <div class="tarefa-container">
            <span class="badge badge-dark mr-1" style="width: 30px;">@tarefa.Prioridade</span>
            <span class="flex-grow-1">@tarefa.Descricao</span>
            <div class="btn-group" role="group">
              <a asp-action="ApagarTarefa" asp-controller="Projeto" asp-route-IdTarefa="@tarefa.Id" asp-route-IdProjeto="@Model.Id" class="btn btn-light">
                🗑️
              </a>
            </div>
            <div class="btn-group" role="group">
              <a asp-action="AvancarTarefa" asp-controller="Projeto" asp-route-IdTarefa="@tarefa.Id" asp-route-IdProjeto="@Model.Id" class="btn btn-light">
                ➡️
              </a>
            </div>
        </div>
        }
    </div>

    <div class="row mb-2">
        <h3>Fazendo</h3>
    	@foreach (Tarefa tarefa in Model.BuscarTarefas(EstadoDaTarefa.FAZENDO))
        {
        <div class="tarefa-container">
            <span class="badge badge-dark mr-1" style="width: 30px;">@tarefa.Prioridade</span>
            <span class="flex-grow-1">@tarefa.Descricao</span>
            <div class="btn-group" role="group">
              <a asp-action="ApagarTarefa" asp-controller="Projeto" asp-route-IdTarefa="@tarefa.Id" asp-route-IdProjeto="@Model.Id" class="btn btn-light">
                🗑️
              </a>
            </div>
            <div class="btn-group" role="group">
              <a asp-action="RegredirTarefa" asp-controller="Projeto" asp-route-IdTarefa="@tarefa.Id" asp-route-IdProjeto="@Model.Id" class="btn btn-light">
                ◀️
              </a>
            </div>
            <div class="btn-group" role="group">
              <a asp-action="AvancarTarefa" asp-controller="Projeto" asp-route-IdTarefa="@tarefa.Id" asp-route-IdProjeto="@Model.Id" class="btn btn-light">
                ▶️
              </a>
            </div>
        </div>
        }
    </div>

    <div class="row mb-2">
        <h3>Concluido</h3>
    	@foreach (Tarefa tarefa in Model.BuscarTarefas(EstadoDaTarefa.CONCLUIDO))
        {
        <div class="tarefa-container">
            <span style="width: 24px;">🏆</span>
            <span class="flex-grow-1">@tarefa.Descricao</span>
            <div class="btn-group" role="group">
              <a asp-action="RegredirTarefa" asp-controller="Projeto" asp-route-IdTarefa="@tarefa.Id" asp-route-IdProjeto="@Model.Id" class="btn btn-light">
                ◀️
              </a>
            </div>
        </div>
        }
    </div>

</div>