@model List<Projeto>

<div class="container mt-3">
  
  <div class="row justify-content-between">
	<div>
		<span class="badge badge-info">Cotação USD: <span id="brlToUsd"></span> </span>
		<span> </span>
		<span class="badge badge-info">Cotação EUR: <span id="brlToEur"></span> </span>
	</div>
	<a asp-action="Cadastrar" asp-controller="Projeto" class="btn btn-primary">
		Novo Projeto
	</a>
  </div>

  <div class="row mt-4">
	@foreach (Projeto projeto in Model)
    {
		<a asp-action="Detalhar" asp-controller="Projeto" asp-route-id="@projeto.Id" class="w-100 projeto-envelope">
            <div class="projeto-container">
				<div class="projeto-nome" style="font-size: 24px;">
					@projeto.Nome
				</div>
				<div class="d-flex flex-grow-1 justify-content-around">
					<div class="text-center">
						<div>A Fazer</div>
						<span>@projeto.BuscarTarefas(EstadoDaTarefa.A_FAZER).Count</span>
					</div>
					<div class="text-center">
						<div>Fazendo</div>
						<span>@projeto.BuscarTarefas(EstadoDaTarefa.FAZENDO).Count</span>
					</div>
					<div class="text-center">
						<div>Concluido</div>
						<span>@projeto.BuscarTarefas(EstadoDaTarefa.CONCLUIDO).Count</span>
					</div>
				</div>
			</div>
        </a>
	}
  </div>

</div>

<script>

	fetch("https://v6.exchangerate-api.com/v6/909bdf33ae030fd845200b59/latest/BRL")
		.then(result => {
		result.json().then(json =>{
			const usd = json.conversion_rates.USD;
			const eur = json.conversion_rates.EUR;

			const brlToUsd = 1 / usd;
			const brlToEur = 1 / eur;

			document.getElementById("brlToUsd").innerHTML = (Math.round(brlToUsd * 100) / 100).toFixed(3);
			document.getElementById("brlToEur").innerHTML = (Math.round(brlToEur * 100) / 100).toFixed(3);
			})
		}).catch(e => {
			console.log(e);
		})

</script>