@model List<Projeto>

<div class="container mt-3">
  
  <div class="row justify-content-end">
	<a asp-action="Cadastrar" asp-controller="Projeto" class="btn btn-primary">
		Novo Projeto
	</a>
  </div>

  <div class="row mt-4">
	@foreach (Projeto projeto in Model)
    {
		<a asp-action="Detalhar" asp-controller="Projeto" asp-route-id="@projeto.Id" class="w-100 projeto-envelope">
            <div class="projeto-container">
				<div class="projeto-nome" style="font-size: 24px;">
					@projeto.Nome
				</div>
				<div class="d-flex flex-grow-1 justify-content-around">
					<div class="text-center">
						<div>A Fazer</div>
						<span>@projeto.BuscarTarefas(EstadoDaTarefa.A_FAZER).Count</span>
					</div>
					<div class="text-center">
						<div>Fazendo</div>
						<span>@projeto.BuscarTarefas(EstadoDaTarefa.FAZENDO).Count</span>
					</div>
					<div class="text-center">
						<div>Concluido</div>
						<span>@projeto.BuscarTarefas(EstadoDaTarefa.CONCLUIDO).Count</span>
					</div>
				</div>
			</div>
        </a>
	}
  </div>

</div>